@using Libellus.Models;
@using PagedList.Mvc;

@model ProjectViewModel

<div class="container-fluid">
    <h3>Choose your action:</h3>
    <div class="row">
        <div class="col-md-2">
            @Html.ActionLink("Waiting approval", "GetProfessorProjects", "Project", new { requestedApproval = true },
                                   new { @class = "btn btn-default" })
        </div>

        <div class="col-md-2">
            @Html.ActionLink("In Progress", "GetProfessorProjects", "Project", new { requestedApproval = false },
                                   new { @class = "btn btn-default" })
        </div>

        <div class="col-md-2">
            @Html.ActionLink("Add project", "AddProjectView", "Project", null, new { @class = "btn btn-success" })
        </div>
    </div>
</div>