@using Libellus.CommonConcerns.Constants
@using Libellus.Models;

@model ProjectViewModel

@{
    ViewBag.Title = "ViewProjectView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>
                Name
            </h2>
            <h4>
                @Model.Name
            </h4>
            <h3>
                Description
            </h3>
            <p>
                @Model.Description
            </p>
        </div>
    </div>
    @if (User.IsInRole(CommonHelper.ROLE_Student))
    {
        <div class="row">
            <div class="col-sm-2">
                @Html.ActionLink("Subscribe", "Subscribe", new {id = Model.Id})
                @*<div class="col-md-6">
                        <div class="alert alert-success alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                ×
                            </button>
                            <h4>
                                Alert!
                            </h4> <strong>Warning!</strong> Best check yo self, you're not looking too good. <a href="#" class="alert-link">alert link</a>
                        </div>
                    </div>*@
            </div>
        </div>
    }
</div>