@using Libellus.CommonConcerns.Constants
@using Libellus.Models;

@model ProjectViewModel

@{
    ViewBag.Title = "ViewProjectView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>
                Name
            </h2>
            <h4>
                @Model.Name
            </h4>
            <h3>
                Description
            </h3>
            <p>
                @Model.Description
            </p>
        </div>
    </div>
    @if (User.IsInRole(CommonHelper.ROLE_Student))
    {
        <div class="row">
            @if (Model.Subscription == null)
            {
                <div id="subscribed-alert">
                    @using (Ajax.BeginForm("Subscribe", "Project", new { id = Model.Id },
                    new AjaxOptions
                    {
                        HttpMethod = "POST", // HttpPost
                        InsertionMode = InsertionMode.Replace, // empty the target first
                        UpdateTargetId = "subscribed-alert" // place content within #update-me
                    }))
                    {
                        <div class="col-md-12">
                            <input type="submit" class="btn btn-success" value="Subscribe">
                        </div>
                    }
                </div>
            }
            else
            {
                <div id="unsubscribed-alert">
                    @using (Ajax.BeginForm("Unsubscribe", "Project", new { id = Model.Id },
                    new AjaxOptions
                    {
                        HttpMethod = "POST", // HttpPost
                        InsertionMode = InsertionMode.Replace, // empty the target first
                        UpdateTargetId = "unsubscribed-alert" // place content within #update-me
                    }))
                    {
                        <div class="col-md-12">
                            <input type="submit" class="btn btn-success" value="Unsubscribe">
                        </div>
                    }
                </div>
            }
        </div>
    }
</div>