@using Libellus.Models;
@using PagedList.Mvc

@model ProjectViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    @if (Model.UserProjects != null && Model.UserProjects.Any())
    {
        <h3>Currently working on:</h3>
        <div class="row">
            <div class="col-md-2">
                @Model.UserProjects.FirstOrDefault().Name;
            </div>
        </div>
    }
    else
    {
        <h3>Available projects:</h3>
        {
            Html.RenderPartial("_PaginatedProjects", Model.AllProjects);
        }
    }
</div>